<?xml version="1.0"?>
<configuration>
    <system.web>
      <pages buffer="true"
         masterPageFile = "~/users/MasterUsers.master"
         enableEventValidation="false">
      </pages>
      <authorization>
          <deny users="?"/>
          <allow users="*"/>
      </authorization>
    </system.web>
  <connectionStrings>
    <add name="ConnResearch" providerName="System.Data.SqlClient" connectionString="Data Source=ZLATKOVSKIV;Initial Catalog=Research;Integrated Security=True" />
  </connectionStrings>
  
</configuration>
